
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}
.btn{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
}

.btn:hover{
    background-color: transparent;
    border: white;
    cursor: pointer;
    border: 1px solid white;
 }

.btn2{
    background-color: transparent;
    border:1px solid white;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    margin-left: 10px;
   cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 12px;  
}
.green{
    color: #30B868;
}

body{
    max-width: 1600px;
     margin: 0px auto;
}
nav{
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

/* hero section style */
#banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 205px 295px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    min-height: 90vh;

}
.banner .container {
    position: relative;
    z-index: 2;
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

.banner-content{
    
    /* padding: 205px 295px; */
    max-width: 770px;
    margin: auto;
}
.hero-badge {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
    
}
.hero-tagline{
    width: 235px;
    height: 35px;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 30px;
   
}
.hero-title{
    font-size: 64px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 72px;

}
.hero-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

#notes{
    padding-top: 50px;
    
}
.notes-container{
    margin: 0 auto;
    padding: 16px 120px;
}
.notes-box{
    display: flex; 
}


.notes-heading{
    font-size: 48px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}
.notes-description{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 44px;
}
.notes-card{
    width: 322px;
    height: 300px;
    padding: 24px;
    line-height: 24px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-right: 24px;
    box-shadow: 0 6px 50px 0 #ececec
    
}
.notes-card img{
    background-color:rgba(249, 85, 85, 1);
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.notes-card h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
    
}

/* The Solution section  */
#Solution{
    max-width: 1600px;
    padding: 120px;
    margin: 0 auto;  
}
.Solution-container{
    max-width: 1360px;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 180px;
}
.container1 img{    
    width: 600px;
    height: 600px;
}
.container2{
    max-width:760px;
    align-items: center;
    justify-content: center;
    padding:0;
}
.container2 h3{
    font-size: 16px;
    font-weight: 400;
    color: #30B868;
    margin-bottom: 16px;
}
.container2 h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}
.container2 p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;

}
.feature-list {
  list-style: none;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
  font-size: 15px;
  color: #0b1f33;
}
/* Ready to think section */
#ready-section{
    width: 1600px;
    padding:0px 120px 120px;
    
}
.ready-container{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    max-width: 1360px;
    justify-content: center;
    align-items: center;
    gap: 40;
    padding: 80px 40px 80px 40px;
}
.ready-container h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.ready-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #627382;
    margin-bottom: 24px;
}
.ready-container button{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 12px auto;
}
/* footer-section */
#footer-section{
    background-color: rgba(0, 25, 49, 1);
    width: 1600px;
    padding:120px 120px 30px 120px;

}
.footer-content{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 79px;
   
}
.footer-content .logo{
    width: 139px;
    height: 60px;
}
.social-heading{
    font-size: 20px;
    color: white;
    font-weight: 500px;
    line-height: 28px;
    margin-bottom: 16px;
}
.social-links{
    display: flex;
    width: 20px;
    height: 20px;
    gap: 16px;
    border-radius: 50%;
}
#footer-section hr{
    color:rgba(250, 250, 250, 1);
    opacity: 0.2;
}
#footer-section p{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}


