*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}
.btn{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
}
/* header style */
body{
    max-width: 1600px;
}
nav{
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;

}
body{
    max-width: 1600px;
    margin: 0px auto;
}
/* hero section style */
#banner{
    background-image: url(/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding: 205px 295px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    min-height: 90vh;

}
.banner .container {
    position: relative;
    z-index: 2;
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

.banner-content{
    
    /* padding: 205px 295px; */
    max-width: 770px;
    margin: auto;
}
.hero-badge {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
    
}
.hero-tagline{
    width: 235px;
    height: 35px;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 30px;
   
}
.hero-title{
    font-size: 64px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 72px;

}
.hero-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
.btn:hover{
    background-color: transparent;
    border: white;
    cursor: pointer;
 }

.btn2{
    background-color: transparent;
    border:1px solid white;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}